/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: linear-gradient(
        to right,
        rgb(252, 174, 170),
        rgb(255, 191, 135)
    );
    color: rgb(0, 0, 0);
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

h1 {
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 70px;
    color: rgb(46, 0, 0);
    margin-bottom: 30px;
    background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgw3PjYxt37BevW4uKNEceCAfebVGqMt6_ScO8XM1Ka2Il8yiaK8pNVMnbd1g1o0r6bur6m0EEEVhRWKOe_hnxRIzLJyRDN9biWIhBzMV7TTjfY8Ebns3iBTLreGiq-wvPkXU-aoDRcX4If/s1600/capa.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    border-radius: 15px;
}

h2 {
    font-size: 32px;
    color: rgb(14, 0, 92);
}

h2:hover{
    font-size: 35PX;
    color: rgb(226, 83, 43);
}

h3 {
    font-size: 24px;
    color: rgb(52, 42, 165);
}

h3:hover{
    font-size: 28px;
    color: brown;
}

p {
    line-height: 1.6;
}

ul {
    margin-left: 40px;
    margin-bottom: 25px;
}

li {
    margin-bottom: 8px;
}


.text-image {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    margin-bottom: 25px;
}

.text-image p {
    flex: 1;
}

.text-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .text-image {
        flex-direction: column;
    }

    .text-image img {
        width: 90%;
        margin: auto;
    }

    h1 {
        font-size: 48px;
    }
}
